extends ../layout

block content
  h2 Sign Up!

  form(action="/users" method="post")

    table.new-user
      tr
        th Name
        td
          input(type="text" name="name")

      tr
        th Password
        td
          input(type="text"  name="password")

      tr
        th
        td
          input(type="submit" value="Sign up!")
