extends layout

block content

  h2 There are (#{count}) tweets to read

  each tweet in tweets
    div.tweet
      form.delete-tweet(action="/tweets/#{tweet.id}?_method=DELETE" method="POST")
        input(type="submit" value="x")
      p.user #{tweet.owner_id} wrote
      p= tweet.content


  h3 tweet something else!
  form.add-tweet(action="/tweets" method="post")

    input(name="content")

    input(type="submit" value="tweet")
